.navigation{
  display :flex;
  justify-content: space-between;
}

.logo-color-filled{
  height: 20rem;
  width: 20rem;
  
  padding: 5rem 3rem 11rem 13rem;
  
}
.navigation-nav-bar{
  display: flex;
  align-items: center;
  margin-right:150px ;
  list-style: none;
  margin-top: 5rem;
   font-size:1.8rem ;
  
}

.nav-link{
  margin-right: 4rem;
  margin-left: 1rem;
  text-decoration: none;
  

  

}
li a{
  text-decoration: none;
  color:$color-gray-7;
}

