.navigation{
  margin-left: $margin-left-body;
  margin-right: $margin-right-body;
  margin-top: $margin-top-body;
  display :flex;
  justify-content: space-between;
  position: relative;
  //display: none;


  &__checkbox{
    display: none;
  }

   @include respond(phone){
    .navigation{
      position: relative;

      &__checkbox{
display: none;
  }
  
  
  &__icon{
     position: relative;
   // margin-top: 3.5rem;
    



    &,
    &:before,
    &:after{
      width: 3rem;
      height: 2px;
      background-color:$color-primary;
      display: inline-block;
      position: absolute;
      right:2rem;
      top:2.2rem;

       
    }
    &:before,
    &:after{
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;

      
      
    }
    &::before{top:-1rem};
    &::after{top:1rem};
  }


}

    }
}
  

.logo-color-filled{
  height: 4rem;
  width: 4rem;
 
}

.navigation-nav-bar{
  display: flex;
  
  align-items: center;
  
  list-style: none;
  
   font-size:1.8rem ;
  
   @media only screen and (max-width:600px){
  display: none;
}
  }

   .nav-link{
    
  margin-right: 4rem;
 // margin-left: 1rem;
}

  li a{
  text-decoration: none;
  color:$color-gray-7;}