/* COLORS */


// Contrasting colors
$color-white: #fff;
$color-black: #000;

// Shades of gray:
$color-gray-1: #f7f7f7;
$color-gray-2: #f0f0f0;
$color-gray-3: #eee;
$color-gray-4: #e4e4e4;
$color-gray-5: #ccc;
$color-gray-6: #424242;
$color-gray-7: #111;
$color-gray-8: #090909;

$color-primary:#82c076;
$color-secondary:#2ab1db;

//font

$default-font-size:1.6rem;
//grid

$grid-width:100%;
$gutter-vertical:20px;

$gutter-vertical-small:10px;
$gutter-horizontal:30px;


$margin-left-body:7%;
$margin-right-body:7%;
$margin-top-body:5%;
$margin-bottom-body:6%;