.section-card{
  margin-left: $margin-left-body;
  margin-right: $margin-right-body;
  margin-top: $margin-top-body;
 // display: none;
}
.section-pricing{
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
    margin-top: $margin-top-body;

    @include respond(tab-port){
      display: flex;
      flex-direction: column;
      align-items: center;
     
      //align-content: center;
    }
  //display: none; 
}

.pricing-container{
  width: 25rem;
 
  background-color: #148786;
  border-radius: 2rem;
  color: $color-white;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25) ;
   &:hover{
    transform: translateY(1rem) scale(1.03) ;
  }

  @include respond(tab-port){
      margin-bottom: 3rem;
    }

  &-2{
    width: 25rem;
   background-color: #04223e;
   border-radius: 2rem;
   color: $color-white;
   box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25) ;
   &:hover{
    transform: translateY(1rem) scale(1.03) ;
  }
  @include respond(tab-port){
      margin-bottom: 3rem;
    }
  }

  &-3{
    width: 25rem;
   background-color: #0b0a18;
   border-radius: 2rem;
   color: $color-white;
   box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25) ;
   //overflow: hidden;
   
    &:hover{
    transform: translateY(1rem) scale(1.03) ;
  }
}
}

.pricing-card--banner {
  position: relative;
  &-img{
 height: 15rem;
  width: 100%;
  //overflow: hidden;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;

  &:hover{
    border-bottom: 1px solid $color-white;
  }
  }
  &-word{
position: absolute;
top:10rem;
left: 10rem;
color: $color-white;
font-size: 3rem;
font-weight: 500;
}
&-word-2{
position: absolute;
top:10rem;
left: 7rem;
color: $color-white;
font-size: 3rem;
font-weight: 500;
}
&-word-3{
position: absolute;
top:10rem;
left: 8rem;
color: $color-white;
font-size: 3rem;
font-weight: 500;
}
}

.pricing_card--content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  //padding: 1rem;
}
.fas{
  margin-right: .5rem;
}

.pricing__detail{
  list-style: none;
  
}
.pricing__item{
  margin: 2rem;
}

.btn-primary{
  background-color: #005a5a;
  width: 70%;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-left: 4rem;
  color:$color-white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;



  &-2{
    background-color: #000f1d;
  width: 70%;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-left: 4rem;
  color:$color-white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  }

  &-3{
    background-color: #292838;
  width: 70%;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-left: 4rem;
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  }

  &:hover,
  &-2:hover,
  &-3:hover{
    background-color: $color-white;
   
  }
  
}

.showmore{
  color:$color-white;
  text-decoration: none;
  
  &:hover{
    color: black !important;
  }
}


.popup-bottom{
  margin-right: $margin-right-body;
  margin-left: $margin-left-body;
  margin-top: $margin-top-body;
  //height: 13rem;
  width: 85%;
  
  background-image: linear-gradient(to right,
  #fff,$color-primary,$color-secondary);
  border-radius: 2rem;
  box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, .3);
  display: flex;
  justify-content: space-between;

  @include respond(phone){
    display: flex;
    flex-direction: column;

    //flex-basis: 100%;
    //text-align: center;
    
    //justify-content: flex-start;
    color: black;
    //height:20rem;
    
  }

  &-left{
  display: flex;
  

  &-img{
    height: 10rem;
    width: 10rem;
    margin: 2rem 3rem;
  }
  &-content{
    margin: 2rem 2rem;
    line-height: 1.5;
    flex-basis: 80%;
    
  }
}
&-right{
  color:$color-white;
   margin: 5rem 3rem;
   text-align: right;


   @include respond(phone){
     flex-basis: 100%;
   // margin-bottom: 10rem;
    margin-top: 0;
    text-align: center;
   // margin-right: 25rem;
   }
}

  }

  .pricing-end{
text-decoration: none;
color: black;
}