

.pricing-container{
  background-color: #148786;
  height: 52rem;
  width: 28rem;
  margin-right: 7rem;
  margin-left: 12.3rem;
  border-radius: 2rem;
  margin-top: 6rem;
  color: $color-white;
  display: flex;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25) ;


  &-2{
    background-color: #04223e;
  height: 52rem;
  width: 28rem;
  margin-right: 7rem;
  margin-left: 12.3rem;
  border-radius: 2rem;
  
  color: $color-white;
  display: flex;
   box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25) ;
  }

  &-3{
    background-color: #0b0a18;
  height: 52rem;
  width: 28rem;
  margin-right: 7rem;
  margin-left: 12.3rem;
  border-radius: 2rem;
  
  color: $color-white;
  display: flex;
   box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25) ;
  
  }
  
  
}

.pricing-card--banner {
  position: relative;
  &-img{
  height: 18rem;
  width: 28rem;
  
}
&-word{
position: absolute;
top:11rem;
left: 12rem;
color: $color-white;
font-size: 3rem;
font-weight: 500;
}
&-word-2{
position: absolute;
top:11rem;
left: 7.5rem;
color: $color-white;
font-size: 3rem;
font-weight: 500;
}
&-word-3{
position: absolute;
top:11rem;
left: 9rem;
color: $color-white;
font-size: 3rem;
font-weight: 500;
}
}
.pricing_card--content{
  text-align: left;

}
.pricing__item{
  margin-top: 2rem;
  margin-bottom: 2rem;

  
}
.fas{
  margin-right: 1.5rem;
  margin-left: 3rem;
  font-size:1.7rem;
  

}
.pricing-card-content-1{
  text-align: center;
  font-size: 1.2rem;
}

.pricing-card-content-2{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.btn-primary{
  background-color: #005a5a;
  width: 70%;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-left: 4rem;
  color: $color-white;
  text-transform: uppercase;



  &-2{
    background-color: #000f1d;
  width: 70%;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-left: 4rem;
  color: $color-white;
  text-transform: uppercase;
  }

  &-3{
    background-color: #292838;
  width: 70%;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-left: 4rem;
  color: $color-white;
  text-transform: uppercase;
  }

  &:hover,
  &-2:hover,
  &-3:hover{
    background-color: $color-white;
    color: #000!important;
  }
  
}
.showmore{
  color: $color-white;
  text-decoration: none;
}