.section-chooseus{
  margin-left: $margin-left-body;
  margin-right: $margin-right-body;
  margin-top: $margin-top-body;
  
}

.chooseus-goals{
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  @include respond(phone){
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

 
 // margin-top: 6rem;
}

.chooseus-goals-2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 4rem;
 // margin-top: 6rem;
 // padding-left: 0; 

 @include respond(phone){
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}

.chooseus-img-1{

  
  flex-basis: 50%;
  overflow: hidden;
  
  
}
.chooseus-img-2{

  
  flex-basis: 50%;
  overflow: hidden;
  
}
.chooseus-text{
  flex-basis: 50%;
  line-height: 2;
   animation: moveInRight 3s ;
@include respond(phone){
    text-align: center;
    padding: 3rem;
    animation: moveInRight 3s ;
   width: 100%;
  }

  
}
.chooseus-text-2{
  flex-basis: 50%;
  line-height: 2;
  text-align: right;
  animation: moveInLeft 3s;
  @include respond(phone){
    text-align: center;
    padding: 3rem;
    animation: moveInLeft 3s;
    width: 100%;
  }

}

.chooseus-image1{
width: 50%;
height: 100%;
margin-left: 20%;

@include respond(tab-land){
  //margin-top: 5%;


}

}
