.section-project{
  display: none;
}

.project-heading-1{
  
  padding-top:8rem;
  font-size: 3.6rem;
  text-align: center;
  
}

.project-color{
  color:$color-secondary;
  
}

.project-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 
  
  
}

.project-img-projects-1{
  width: 100%;
}

.project-img-1{
  width: 25%;
  overflow: hidden;

  
}