.section-project{
  margin-left: 12.3rem;
  font-size: 2.6rem;
  margin-bottom: 10rem;
}

.project-heading-1{
  padding-left: 45rem;
  padding-top:8rem;
}

.project-color{
  color:$color-secondary;
  
}

.project-img{
  display: flex;
  
}
.project-img-projects-1{
  height: 29rem;
  width: 25rem;
  margin-right: 3rem;
  padding-top: 7rem;
  border-radius: 1rem;
  transition: all .2s;

  &:hover{
    transform: translateY(-1.5rem) scale(1.08) ;
  }
  
}