body {
    font-family:'Barlow', sans-serif; ;
    font-weight: 500;
    font-size: $default-font-size;
    line-height: 1.3;
    color:$color-gray-7;
    box-sizing: border-box;
    
}

.header{
  padding-top: 0rem;
  padding-left: 10rem;
  
  display: flex;
  justify-content: space-between;

}
.header-part-1{
  margin-right: 3rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  
}

.header-text-1{
  color: #000;
  font-size: 5rem;
  font-weight: 600;
  white-space: nowrap;
}
.header-text-Zosime{
 
  background-image: linear-gradient(to right ,$color-primary,$color-secondary);
  -webkit-background-clip: text;
  background-clip: text;;
  color: transparent;
}

.header-text-2{
  color:$color-gray-6;
  font-size: 3.3rem;
  font-weight: 400;
}
.header-text-3{
  color:$color-gray-7;
  font-size: 2rem;
  font-weight: 400;
  margin-top: .5rem;
}
.hero-img{
  width:70%;
  height:70%;
}

